:local {
  .iconCont {
    flex-shrink: 0;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 32px;
    }

    &.mini {
      img {
        width: 24px;
      }
    }

    &.empty {
      background-color: transparent;
    }
  }

  .icon {
    vertical-align: middle;
  }

  .emptyIcon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
  }

  .itemIconCont {
    flex-shrink: 0;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 32px;
      vertical-align: middle;
    }

    &.mini {
      img {
        width: 24px;
      }
    }
  }
}
